@use './tools/' as tools;

html,
body {
    width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;

    background-color: var(--color-background-light);
    font-family: tools.$Inter;
    color: var(--color-text);

    margin: 0;

    * {
        min-width: 0;
        box-sizing: border-box;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

svg * {
    transform-box: fill-box;
}

.container {
    width: 100%;
    max-width: tools.$container;
    margin: 0 auto;

    @media screen and (max-width: tools.$breakpoint-desktop) {
       padding-left: 20px;
       padding-right: 20px;
    }

}

.image-container {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.logo-container {
    display: block;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}