$container: 1440px;

$Playfair: 'Playfair Display', sans-serif;
$Inter : 'Inter', sans-serif;

$primary: #00AC66;
$background: #F5F3EF;
$background-light: #FAF9F7;
$text-light: #A6A6A6;
$text: #292929;
$black: #000000;
$white: #FFFFFF;
$error: #FF0000;

:root {
    --color-black: #{$black};
    --color-white: #{$white};

    --color-primary: #{$primary};

    --color-text: #{$text};
    --color-text-light: #{$text-light};
    
    --color-background: #{$background};
    --color-background-light: #{$background-light};

    --color-error: #{$error};
}